.divider{
  height: 1px;
  background-color: #000;
  margin: 4px 0;
  opacity: var(--dark-divider-opacity);
}
.sidebar{
  display:block;
  overflow:auto;
  -ms-user-select:none;
  -webkit-user-select:none;
  -moz-user-select:none
  height:100%;
}
.sidebar app-toolbar{
  color:black;
  font-weight: 400;
  opacity: var(--dark-primary-opacity);
  border-bottom: 1px solid #e0e0e0

}
.sidebar paper-menu {
  background:white;
  padding-bottom: 0
}
.sidebar paper-icon-item {
  --paper-icon-item: {
    cursor: pointer
  };
--paper-item-icon: {
  color: #000;
  opacity: var(--dark-secondary-opacity)
};
    --paper-item-selected: {
      color: var(--default-primary-color);
      background-color: #e8e8e8;
      opacity: 1
    };
}
.sidebar paper-icon-item.iron-selected {
  --paper-item-icon: {
    color: var(--default-primary-color);
    opacity: 1
  };
}
.sidebar paper-icon-item.iron-selected .item-text {
  opacity: 1
}
.sidebar paper-icon-item.iron-selected .iron-icon {
  color: var(--default-primary-color);
}

.divider {
  height: 1px;
  background-color: #000;
  margin: 4px 0;
  opacity: var(--dark-divider-opacity)
}
