<dom-module id="grow-dashboard">
  <template>
    <link rel="stylesheet" type="text/css" href="dashboard.css">
    
    <iron-media-query query="(max-width: 870px)" query-matches="{{smScreen}}"></iron-media-query>
    
    <paper-drawer-panel  narrow="{{narrow}}" force-narrow="[[computeForceNarrow(smScreen, showSidebar)]]" responsive-width="0" disable-swipe="[[isSelectedMap]]" disable-edge-swipe="[[isSelectedMap]]" id="drawerPanel" right-drawer>

      <iron-pages main selected="{{selected}}">
        <grow-main-view>
          <app-toolbar toolbar>
            <div main-title>Grow-IoT</div>
            <paper-icon-button icon="menu" hidden$="[[!narrow]]" on-tap="openMenu"></paper-icon-button>
          </app-toolbar>
        </grow-main-view>
      </iron-pages>
      
      <div class="layout vertical sidebar" drawer>
        <app-toolbar>
          <div title class="flex">
            Grow-IoT
          </div>
          <paper-icon-button hidden$="[[narrow]]" on-tap="closeMenu" icon="chevron-right"></paper-icon-button>
        </app-toolbar>
        <paper-menu selected="{{selected}}">
          <template is="dom-repeat" items="[1,2,3,4,5]">
            <paper-icon-item>
              <iron-icon icon="list" item-icon></iron-icon>
              <span class="flex">List Item {{item}}</span>
            </paper-icon-item>
          </template>
        </paper-menu>

        <div class="divider"></div>

        <paper-icon-item id="signOut" on-click="__signOut">
          <iron-icon  icon="exit-to-app"></iron-icon>
          <span class="flex">Sign Out</span>
        </paper-icon-item>

        <div class="divider"></div>
      </div>
    </paper-drawer-panel>
  </template>
  <script src="dashboard.js"></script>
</dom-module>
