<dom-module id="empty-state">
  <template>
    <style>
:host{
  opacity:0.7;
}
#content{
  border-radius: 50%;
  border: 1px dashed #555;
  /* border-top: 0px; */
  /* border-bottom: 0px; */

  opacity:0.7;
  padding: 70px 20px;
  margin-top:-100px;
}
#content iron-icon {
 --iron-icon-height: 64px;
    --iron-icon-width: 64px;
}
    </style>
    <div class="layout horizontal">
      <div class="flex">
      </div>
      <canvas 
           id="arrow" 
           class="flex"
           width$="{{canvasWidth}}" 
           height$="{{canvasHeight}}"
           style$="margin-left:{{canvasWidth}}">
      </canvas>
    </div>
    <div class="layout vertical flex">
      <div class="layout horizontal center center-justified">
        <!--DO NOT ADD STYLE TO #CONTENT-->
        <div id="content" class="layout vertical center center-justified">
          <iron-icon icon="hardware:phonelink-off"></iron-icon>
          <h3>Add a new device to start</h3>
        </div>
      </div>
      <div class="flex"></div>
    </div>

  </template>
</dom-module>
<script src="empty-state.js"></script>
