<dom-module id="empty-state">
  <template>
    <style>
:host{
  opacity:0.7;
}
#content{
  /* border-top: 0px; */
  /* border-bottom: 0px; */
  position:relative;
  opacity:0.7;
  margin-top:-100px;
}
#circle {
  position: absolute;
  height: 100%;
  width: 100%;
}
#content iron-icon {
  --iron-icon-height: 64px;
  --iron-icon-width: 64px;
}
#content .text-content{
  padding: 70px 20px;
}
    </style>
    <div class="layout horizontal">
      <div class="flex">
      </div>
      <canvas 
           id="arrow" 
           class="flex"
           width$="{{canvasWidth}}" 
           height$="{{canvasHeight}}"
           style$="margin-left:{{canvasWidth}}">
      </canvas>
    </div>
    <div class="layout vertical flex">
      <div class="layout horizontal center center-justified">
        <!--DO NOT ADD STYLE TO #CONTENT-->
        <div id="content" class="layout vertical">
          <canvas id="circle"></canvas>
          <div class="layout flex vertical center center-justified text-content">
            <iron-icon icon="hardware:phonelink-off"></iron-icon>
            <h3>Add a new device to start</h3>
          </div>
        </div>
      </div>
      <div class="flex"></div>
    </div>

  </template>
</dom-module>
<script src="empty-state.js"></script>
