<dom-module id="thing-display">
  <template>
    <style type="text/css">
paper-card {
  width: 400px;
  margin: 20px;
}
    </style>
    <paper-card image="{{thing.image}}" alt="{{thing.name}}">
	  <div class="card-content" hidden$="{{!thing.thing.webcomponent}}">
	    <div hidden$="{{thing.onlineSince}}">
      	  Not online.
      </div>

	    <!-- Hack: todo, somehow include the component specified in thing.thing.webcomponent. -->
	    <!-- <test-thing uuid="{{thing.uuid}}"></test-thing> -->
      
      <dr-dose uuid="{{thing.uuid}}"></dr-dose>
	  </div>

      <div class="card-content" hidden$="{{thing.registeredAt}}">
        <p>Waiting for device with the following credentials to connect <span id="loading"></span></p>
        <p>UUID: <code>{{thing.uuid}}</code></p>
        <p>TOKEN: <code>{{thing.token}}</code></p>
      </div>

      <div class="card-actions">
        <paper-button on-click="deleteThing">Delete</paper-button>
      </div>
    </paper-card>
  </template>
  <script src='thing-display.js'></script>
</dom-module>

