{
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "modules": true,
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "defaultParams": true,
    "forOf": true,
    "generators": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralDuplicateProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "regexUFlag": true,
    "regexYFlag": true,
    "superInFunctions": true,
    "templateStrings": true,
    "unicodeCodePointEscapes": true,
    "globalReturn": true,
    "jsx": true
  },
  "env": {
    "mocha": true,
    "node": true
  },
  "globals": {
    "MyLibrary": true,
    "sinon": true,
    "spy": true,
    "stub": true,
    "expect": true
  },
  "rules": {
    "no-unused-expressions": 0,
    "strict": 0,
    "no-empty": 0,
    "indent": [2, 2],
    "quotes": [1, "single"],
    "no-multi-spaces": [1, {
      "exceptions": {
        "VariableDeclarator": true,
        "FunctionExpression": true
      }
    }],
    "key-spacing": [0, {"align": "value"}],
    "no-underscore-dangle": 0
  }
}
