@import url(https//fonts.googleapis.com/css?family=Roboto400,300);

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

body {
  background-color: rgba(78, 128, 83, 0.18);
  padding-top: 100px;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: rgba(60, 118, 61, 0.67);

  .navbar-brand {
    color: white !important;
    font-size: 32px;
    margin-top: 20px;
    font-weight: 300;
  }

  .navbar-toggle {
    margin-top: 25px;
  }
  
  .navbar-text {
    color: #272822;
    padding-left: 20px;
  }

  @media (min-width: 768px) {
    .navbar-right {
      margin-top: 17px;
    }
  }
}

.logo {
  height: 60px;
  width: auto;
  float: left;
  margin: 1em;
}

.collection-item {
  display: block;
  background-color: white;
  padding: 10px;
  margin: 5px;
}

.small-input {
  width: 60px;
  height: 40px;
  padding: 6px 12px;
  font-size: 0.8em;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.jumbotron {
  background: none;
  padding-left: 30px !important;
  padding-right: 30px !important;
  color: rgba(0, 0, 0, 0.7);
}

.target-ph {
  user-select: none;

  .glyphicon {
  	font-size: .8 em;
  }
}

.wee-margin-top {
  margin-top: 1em;
}

.login-link-text {
  color: white;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none !important;
  position: relative;
  bottom: 5px;
  &:before {
    content: "\e008";
    font-size: 1.5em;
    position: relative;
    top: 12px;
    left: 12px;
  }
}

.form-container {
  display: block;
  margin: auto;
  margin-top: 50px;
  padding: 20px;
  height: 80%;
  max-width: 300px;
  background-color: #DDDDDD;
}

.form-control {
  max-width: 25em;
}
