// MEDIA QUERIES
@media (min-width: 768px) {
  .navbar-right {
    margin-top: 17px;
  }
}

// For small screen devices.
@media (max-width: 767px) {
  .dashboard {
    padding: 0;
  }

  .jumbotron {
    p {
      font-size: 16px;
    }
  }

  .navbar {
    .navbar-nav {
      margin: 0;

      &.bottom-menu-action {
        li {
          font-size: 1.5em;
          margin-top: 5px;

          &.dropdown {
            margin-top: 5px;
          }
        }
      }

      > li {
        float: left;
      }

      &.navbar-right {
        margin-top: 20px;
        float: right !important;
        margin-right: -15px;
      }

      .dropdown {
        &.open {
          .dropdown-menu {
            right: 0;
            left: auto;
            position: absolute;
            top: 100%;
            z-index: 1000;
            float: left;
            min-width: 160px;
            padding: 5px 0;
            margin: 2px 0 0;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, .15);
            border-radius: 4px;
            -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          }
        }
      }
    }
  }

  .cg-nav-bar {
    min-height: 65px;
  }

  .container > .navbar-header {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-header {
    float: left;
  }  
}



