{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "mocha": true,
        "meteor": true
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "mocha"
    ],
    "rules": {
        "mocha/no-exclusive-tests": "error",
        "indent": ["warn", 4, {
            "SwitchCase": 1
        }],
        "linebreak-style": ["warn", "unix"],
        "quotes": ["warn", "single"],
        "no-console": ["off"],
        "no-unused-vars": ["warn"],
        "no-undef":  ["warn"],
        "semi": ["warn", "always"]
    }
}