{
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
    },
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "rules": {
        "indent": ["warn", 4, {
            "SwitchCase": 1
        }],
        "linebreak-style": ["warn", "unix"],
        "quotes": ["warn", "single"],
        "no-console": ["off"],
        "no-unused-vars": ["warn"],
        "no-undef":  ["warn"],
        "semi": ["warn", "always"]
    }
}