<dom-module id="grow-main-view">
  <template>
    <style>
app-header {
  background:var(--default-primary-color);
  color: white;
}

      [content] app-toolbar {
        color:black;
        margin:20px;
      }
    </style>
    <app-header-layout has-scrolling-region id="headerPanel">

      <app-header effects="waterfall" condenses fixed>
        <content select="[toolbar]"></content>
      </app-header>

      <iron-pages class="fit layout vertical main" id="mainView" selected="{{mwcRoute.params.view}}" attr-for-selected="name">
        <div class="vertical layout flex" main name="home">
          <div class="center center-justified layout wrap horizontal">
            <sortable-js>            
              <template is="dom-repeat" items="{{things}}" as="thing">
                <thing-display thing="{{thing}}"></thing-display>           
              </template>
            </sortable-js>
          </div>
            <empty-state hidden$="{{_ifEmpty(things)}}" class="layout flex vertical"></empty-state>
        </div>
      </iron-pages>
    </app-header-layout>

  </template>
  <script src="main-view.js"></script>
</dom-module>
