<dom-module id="grow-main-view">
  <template>
    <style>
      app-header{
        background:var(--default-primary-color);
        color: white;
      }

      [content] app-toolbar{
        color:black;
        margin:20px;
      }
    </style>
    <app-header-layout has-scrolling-region id="headerPanel">

      <app-header effects="waterfall" condenses fixed>
        <content select="[toolbar]"></content>
      </app-header>
      <iron-pages content selected="{{selected_1_1}}">
        <div class="vertical layout" main>
          <div class="center center-justified layout wrap horizontal">
            
            <template is="dom-repeat" items="{{things}}" as="thing">
              <thing-display uuid="{{thing.uuid}}" 
                             token="{{thing.token}}">
              </thing-display>           
            </template>
          </div>
        </div>
      </iron-pages>
    </app-header-layout>

  </template>
  <script src="main-view.js"></script>
</dom-module>
