<dom-module id="connectivity-status">
  <template>
    <style>
:host {
  display: inline-block;
  position: relative;
  padding: 8px;
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
  line-height: 1;
  width: 40px;
  height: 40px;
  box-sizing: border-box !important;
}
  @-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  .connecting {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;

  }
    </style>
    <iron-icon icon="[[_connectivityIcon(isSlow, networkStatus)]]"
               class$="[[_connectivityClass(isSlow, networkStatus)]]">
    </iron-icon>
  </template>
</dom-module>
<script>
class connectivityStatus {
  beforeRegister() {
    this.is = 'connectivity-status';
    this.properties = {
      isSlow: String,
      networkStatus: Boolean,
    }
    this.conn = {
      on: {
        slow: {
          i: 'device:signal-wifi-1-bar',
          c: 'net slow'
        },
        connecting: {
          i: 'notification:sync',
          c: 'net connecting',
        },
        waiting: {
          i: 'notification:sync',
          c: 'net connecting',
        },
        connected: {
          i: 'device:signal-wifi-4-bar',
          c: 'net connected',
        },
        failed: {
          i: 'device:signal-wifi-0-bar',
          c: 'net disconnected',
        },
        offline: {
          i: 'device:signal-wifi-0-bar',
          c: 'net disconnected',
        },

      },
      off: {
        slow: {
          i: 'device:signal-wifi-off',
          c: 'slow'
        },
        connecting: {
          i: 'device:signal-wifi-off',
          c: 'connecting',
        },
        waiting: {
          i: 'device:signal-wifi-off',
          c: 'connecting',
        },
        connected: {
          i: 'device:signal-wifi-off',
          c: 'connected',
        },
        failed: {
          i: 'device:signal-wifi-off',
          c: 'net disconnected',
        },
        offline: {
          i: 'device:signal-wifi-off',
          c: 'net disconnected',
        },
      },
    }
  }
  get behaviors() {
    return [
      mwcMixin,
    ];
  }
  tracker() {
    this.set('isSlow', Connectivity.isSlow() ? 'slow': Meteor.connection.status().status);
    this.set('networkStatus', Connectivity._networkStatus.get());
  }
  _connObj(s, n) {
    const net = n ? 'on' : 'off';
    return this.conn[net][s];
  }
  _connectivityIcon(s, n) {
    return this._connObj(s, n).i;
  }
  _connectivityClass(s, n) {
    return this._connObj(s, n).c;
  }
}
Polymer(connectivityStatus)
</script>
