
<div layout="row" layout-align="space-around center">
  <div>Login with:</div>
  <md-button>Twitter</md-button>
  <md-button>Facebook</md-button>
</div>

<div ng-show="lc.error" class="md-warn">
  <small>{{ lc.error }}</small>
</div>

<form layout="column">
    <input type="text" ng-model="lc.credentials.email"
           placeholder="email" aria-label="email"/>
    <input type="password" ng-model="lc.credentials.password"
           placeholder="password" aria-label="password"/>
  <button class="md-raised md-primary" ng-click="lc.login()"
             aria-label="login">Sign In</button>
</form>

<div layout="row" layout-align="space-around center">
  <a href="/resetpw">Forgot password?</a>
  <a href="/register">Create an account</a>
</div>
