<link rel="import" href="../components/thing/thing-display.html">
<link rel="import" href="layout.js">
<dom-module id="main-layout">
  <style>
:host {
  --app-grid-columns: 3;
  --app-grid-item-height: 100px;
}

      ul {
        padding: 0;
        list-style: none;
      }

      .item {
        background-color: white;
      }

      .main{
        @apply(--layout-horizontal);
        @apply(--layout-center-center);
      }
      app-toolbar{
        background-color: var(--default-primary-color);
        font-weight: 400;
        color: #fff;
      }
  </style>
  <template>
    <app-toolbar>
      <div main-title>Grow-IoT</div>
      <paper-icon-button icon="dashboard" on-click="goToDashboard"></paper-icon-button>
      <client-avatar></client-avatar>
    </app-toolbar>

    <app-drawer>
      <paper-menu selected="0">
        <paper-item>Item One</paper-item>
        <paper-item>Item Two</paper-item>
        <paper-item>Item Three</paper-item>
      </paper-menu>
    </app-drawer>

    <iron-pages class="flex main" id="mainView" selected="{{mwcRoute.params.view}}" attr-for-selected="name">
      <paper-card heading="Welcome to Grow-IoT!" id="region1" name="home">
        <div class="card-content">
          <div> To get started, we'll create a new device.</div>
        </div>
        <div class="card-actions">
          <paper-button on-click="new">New device</paper-button>
        </div>
      </paper-card>
      <paper-card heading="Add device" name="new" id="region2">
        <div class="card-content">
          <div>
            <iron-list id="list" items="[[things]]" as="thing" selection-enabled multi-selection>
              <template >
                <thing-display uuid="{{thing.uuid}}" token="{{thing.token}}"></thing-display>
              </template>
            </iron-list>
            <paper-spinner active></paper-spinner> 
            Waiting for devices to connect.
          </div>
        </div>
        <div class="card-actions">
          <paper-button on-click="home">
            Go back
          </paper-button>
        </div>
      </paper-card>
    </iron-pages>
  </template>
</dom-module>
