<link rel="import" href="../components/test-element.html">
<dom-module id="test-layout">
  <style>
.main{
  @apply(--layout-horizontal);
  @apply(--layout-center-center);
}
  </style>
  <template>
    <paper-header-panel class="fit layout">
      <paper-toolbar>

        <div class="flex"><h1>Synthesis
            <template is="dom-if" if="[[notCordova]]">
              is Meteor + Polymer!
            </template>
          </h1></div>

          <div class="">
            status : {{status}}
          </div>
      </paper-toolbar>
      <iron-pages class="flex main" id="mainView" selected="{{mwcRoute.params.view}}" attr-for-selected="name">
        <paper-card heading="ROUTE:1" id="region1" name="home">
          <div class="card-content">
            <div> You are in Home page </div>
            <div>MWC - meteor web components.</div>
          </div>
          <div class="card-actions">
            <paper-button on-click="second">Next</paper-button>
          </div>
        </paper-card>
        <paper-card heading="ROUTE:2" name="second" id="region2">
          <div class="card-content">
            <div>MWC - meteor web components.</div>
            <test-element class="flex layout vertical"></test-element>
          </div>
          <div class="card-actions">
            <paper-button on-click="home">
              Go back
            </paper-button>
          </div>
        </paper-card>
      </iron-pages>

    </paper-header-panel>
  </template>
</dom-module>
