<dom-module id="layout-account">
  <template>
    <neon-animated-pages attr-for-selected="data-page" class="fit" selected="[[selected]]">
      <forgot-password data-page="forgot-password" id="forgot_password"></forgot-password>
      <reset-password data-page="reset-password" id="reset_password"></reset-password>
      <sign-in data-page="sign-in" id="sign_in"></sign-in>
      <sign-up data-page="sign-up" id="sign_up"></sign-up>
    </neon-animated-pages>
  </template>
</dom-module>

<script>
(function() {
  Polymer({

    is: "layout-account",

    properties: {
      selected: {
        type: String,
        value: 'sign-in',
      },
    },

  });
})();
</script>
