<dom-module id="reset-password">
  <style>
  paper-toolbar {
    --paper-toolbar-background: var(--paper-teal-500);
    --paper-toolbar-color: white;
  }
  
  .footer {
    min-height: 88px;
  }
  
  .form {
    padding: 16px;
  }
  </style>

  <template>
    <paper-header-panel mode="seamed">
      <paper-toolbar>
        <paper-icon-button icon="arrow-back" on-tap="_back"></paper-icon-button>
        <div class="title">Reset Password</div>
        <paper-icon-button icon="done" on-tap="_done"></paper-icon-button>
      </paper-toolbar>
    </paper-header-panel>


      <div class="center-justified horizontal layout">
        <div class="li">
          <div class="form layout vertical">
            <paper-input auto-validate error-message="minLength is 8" id="password" label="Password" minlength="8" required type="password" value="{{password}}">
              <iron-icon icon="visibility-off" on-tap="_visibility" suffix></iron-icon>
            </paper-input>
          </div>
        </div>
      </div>

      <div class="footer"></div>
  </template>
</dom-module>

<script>
(function() {
  Polymer({

    _back: function() {
      if (FlowRouter.getQueryParam('previous')) {
        FlowRouter.go(array_ascii(Base64.decode(FlowRouter.getQueryParam('previous'))));
      }
    },

    _done: function() {
      Accounts.resetPassword(FlowRouter.getQueryParam('token'), this.password, function(error) {
        if (error) {
          document.querySelector("#polymer_toast").toast(error.message);
        } else {
          if (typeof(_done) == 'function') {
            _done();
          }

          FlowRouter.go("/", {}, {
            token: null,
            route: null,
            previous: null,
          });
        }
      });
    },

    _visibility: function() {
      switch (this.$.password.type) {
        case 'password':
          this.$.password.querySelector('iron-icon[icon^=visibility]').icon = 'visibility';
          this.$.password.type = 'text';
          break;

        case 'text':
          this.$.password.querySelector('iron-icon[icon^=visibility]').icon = 'visibility-off';
          this.$.password.type = 'password';
          break;
      }
    },

    is: "reset-password",

  });
})();
</script>
