<dom-module id="sign-up">
  <style>
  paper-menu {
    min-width: 192px
  }
  
  paper-menu-button {
    padding: 0;
  }
  
  paper-toolbar {
    --paper-toolbar-background: var(--paper-teal-500);
    --paper-toolbar-color: white;
  }
  
  .footer {
    min-height: 88px;
  }
  
  .form {
    padding: 16px;
  }
  </style>

  <template>
    <paper-header-panel mode="seamed">
      <paper-toolbar>
        <paper-icon-button icon="arrow-back" on-tap="_back"></paper-icon-button>
        <div class="title">New Account</div>
        <paper-icon-button icon="done" on-tap="_done"></paper-icon-button>

        <paper-menu-button horizontal-align="right" horizontal-offset="-8">
          <paper-icon-button class="dropdown-trigger" icon="more-vert"></paper-icon-button>

          <paper-menu class="dropdown-content" on-iron-select="_select">
            <paper-item class="cursor-p" data-menu="Issue Reporting">Issue Reporting</paper-item>
            <paper-item class="cursor-p" data-menu="Sign In">Sign In</paper-item>
          </paper-menu>
        </paper-menu-button>
      </paper-toolbar>
    </paper-header-panel>

      <div class="center-justified horizontal layout">
        <div class="li">
          <div class="form layout vertical">
            <gold-email-input auto-validate label="Mail Id" required value="{{email}}"></gold-email-input>

            <paper-input auto-validate error-message="minLength is 8" id="password" label="Password" minlength="8" on-change="_change" required type="password" value="{{password}}">
              <iron-icon icon="visibility-off" on-tap="_visibility" suffix></iron-icon>
            </paper-input>

            <paper-input auto-validate error-message="incorrect" id="confirm_password" label="Confirm Password" minlength="8" on-change="_change" required type="password"></paper-input>
          </div>
        </div>
      </div>

      <div class="footer"></div>
  </template>
</dom-module>

<script>
(function() {
  Polymer({

    _back: function() {
      if (FlowRouter.getQueryParam('previous')) {
        FlowRouter.go(array_ascii(Base64.decode(FlowRouter.getQueryParam('previous'))));
      }
    },

    _change: function() {
      this.$.confirm_password.invalid = (this.$.password.value != this.$.confirm_password.value);
    },

    _done: function() {
      Accounts.createUser({
        email: this.email,
        password: this.password,
      }, function(error) {
        if (error) {
          document.querySelector("#polymer_toast").toast(error.message);
        } else {
          FlowRouter.go("/", {}, {
            previous: null,
            route: null,
          });
        }
      });
    },

    _select: function(e, d) {
      switch (d.item.dataset.menu) {
        case 'Issue Reporting':
          window.open('//github.com/HedCET/Torrent-Alert/issues', '_system');
          break;

        case 'Sign In':
          FlowRouter.setQueryParams({
            previous: Base64.encode(ascii_array(FlowRouter.current().path)),
            route: 'sign-in',
          });
          break;
      }
    },

    _visibility: function() {
      switch (this.$.password.type) {
        case 'password':
          this.$.password.querySelector('iron-icon[icon^=visibility]').icon = 'visibility';
          this.$.password.type = 'text';
          break;

        case 'text':
          this.$.password.querySelector('iron-icon[icon^=visibility]').icon = 'visibility-off';
          this.$.password.type = 'password';
          break;
      }
    },

    is: "sign-up",

  });
})();
</script>
