<link rel="import" href="actions.html">
<link rel="import" href="events.html">
<dom-module id="thing-display">
	<template>
		<style type="text/css">
			paper-card{
			  width:400px;
			  margin:20px;
			}
		</style>
		<paper-card image="{{thing.image}}" alt="{{thing.name}}">
			<template is="dom-if" if="{{thing.thing.webcomponent}}">
				<p>Has a webcomponent.</p>
				<!-- Hack -->
				<test-thing uuid="{{uuid}}"></test-thing>
			</template>
			<template is="dom-if" if="{{!thing.registeredAt}}">
				<div class="card-content">
					<paper-spinner active></paper-spinner>
					<p>Waiting for device with the following credentials to connect:</p>
					<p>UUID: <code>{{uuid}}</code></p>
					<p>TOKEN: <code>{{thing.token}}</code></p>
				</div>
				<div class="card-actions">
					<paper-button on-click="deleteThing">Cancel</paper-button>
				</div>
			</template>
			<template is="dom-if" if="{{thing.registeredAt}}">
				<div class="card-content">
					<p>Registered {{thing.thing.name}}</p>
				</div>
				<div class="card-actions">
					<thing-events events="{{thing.thing.events}}"></thing-events>
					<thing-actions actions="{{thing.thing.actions}}"></thing-actions>
					<!-- TODO: ask for confirmation if a thing has been registered. -->
					<paper-button on-click="deleteThing">delete</paper-button>
				</div>
			</template>
		</paper-card>
	</template>
	<script src='thing-display.js'></script>
</dom-module>

